nav{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    div{
        position: relative;
        left: -100%;
        a{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            margin: 1rem 0;
            background-color: black;
            border-radius: 0 2.4rem 2.4rem 0;
            text-decoration: none;
            color: white;
            position: relative;
            left: 2.6rem;
            transition: ease-in-out 0.75s ;
            span{
                padding: 0.2rem 1rem;
                text-align: right;
            }
            img{
                width: 2rem;
                height: 2rem;
                padding: 0.2rem;
                border: 1px solid white;
                border-radius: 50%;
            }
        }
        a:hover{
            left: 100%;
        } 
        .actived{
            left:100%;
        }
    }
    
}