.parallax{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
#parallax-intro{
    background-image: url(./../img/DSC_0129.JPG);
    #logo-brand{
        width: 33vw;
        height: 33vw;
        background-color: rgb(0, 0, 0);   
        border: solid 1px rgb(0, 0, 0);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        img{
            width: 75%;
        }
    }
    button{
        background-color: transparent;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        img{
            height: 2rem;
            transform: translateY(0);
            animation-name: hvr-wobble-vertical;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}
#presentation{
  position: relative;
  background-color: black;
  padding-left: 2.6rem;
  #copyrightAD{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: white;
    margin: 0 3rem;
    padding: 0.2rem;
  }
  .block{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    #profil-picture{
      max-width: 33vw;
      z-index: 10;
      border-radius: 50%;
    }
    div{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      max-width: 80%;
      color: white;
      text-align: center;
      blockquote{
        margin: 0;
        padding: 0;
        color: white;
      }
      a{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        height: 5rem;
        min-width: 33%;
        text-decoration: none;
        img{
          border-radius: 0;
          width: 3rem;
        }
        p{
          margin: 0;
          color: white;
        }
      }
    }
  }
}
#presentation::before{
  content: "";
  width: 100%;
  height: 50px;
  background: black;
  position: absolute;
  transform: skew(0deg, -2deg) translateY(0px);
  transform-origin: 0 0;
}
#diving-presentation{
  background-image: url(./../img/DSC_0114.JPG);
}
#fishing-presentation{
  position: relative;
  background-color: black;
  padding-left: 2.6rem;
  height: 100vh;
}
#pictures-presentation{
  background-image: url(./../img/DSC_0170.JPG);
}
#mindbox-presentation{
  position: relative;
  background-color: black;
  padding-left: 2.6rem;
  height: 100vh;
}

@keyframes hvr-wobble-vertical {
    16.65% {
      transform: translateY(8px);
    }
  
    33.3% {
      transform: translateY(-6px);
    }
  
    49.95% {
      transform: translateY(4px);
    }
  
    66.6% {
      transform: translateY(-2px);
    }
  
    83.25% {
      transform: translateY(1px);
    }
  
    100% {
      transform: translateY(0);
    }
}