#parallax-intro {
  background-image: url(./../img/DSC_0129.JPG);
}

#parallax-intro #logo-brand {
  width: 33vw;
  height: 33vw;
  background-color: black;
  border: solid 1px black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#parallax-intro #logo-brand img {
  width: 75%;
}

#parallax-intro button {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#parallax-intro button img {
  height: 2rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-name: hvr-wobble-vertical;
          animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#parallax-presentation {
  background-image: url(./../img/DSC_0114.JPG);
}

.parallax {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#presentation {
  position: relative;
  background-color: black;
  padding-left: 2.6rem;
}

#presentation #copyrightAD {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: white;
  margin: 0 3rem;
  padding: 0.2rem;
}

#presentation .block {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#presentation .block img {
  border-radius: 50%;
}

#presentation .block blockquote {
  color: white;
  max-width: 33%;
  text-align: justify;
}

#presentation::before {
  content: "";
  width: 100%;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: skew(0deg, -2deg) translateY(0px);
          transform: skew(0deg, -2deg) translateY(0px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#presentation::after {
  content: "";
  width: 100%;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: skew(0deg, 2deg) translateY(-50px);
          transform: skew(0deg, 2deg) translateY(-50px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=welcome.css.map */